
<h2> My Heroes</h2>
    <ul class="heroes">

        <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero" 
        (click)="onSelect(hero)" >
        <!--When the current row hero is the same as the selectedHero, Angular adds the selected CSS class. 
        When the two heroes are different, Angular removes the class.-->
            <span class="badge">
                {{hero.id}}
            </span> 
                {{hero.name}}
        </li>

    </ul>

<!--Add the hero detail selector here and 
bind the selectedHero to the hero-detail hero property-->

<app-hero-detail [hero]="selectedHero"> </app-hero-detail>


<!-- Done when we wanted to display a single Hero
    <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span> {{hero.id}}</div>

<div>
<label> name: <input [(ngModel)]="hero.name"  placeholder="name"/>
</label>

</div>
-->

